@use "../../styles/partials/_global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/_breakpoints" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_colors" as *;

.warehouse-details__center-wrap {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(19, 24, 44, 0.1);
  width: 90%;
  position: relative;
  top: -3.375rem;
  margin: 0 auto;

  @include tablet {
    justify-content: space-between;
    top: -6.25rem;
  }

  @include desktop {
    margin: 0 auto;
    max-width: 63.5rem;
  }
}

.warehouse-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__section-divider {
    display: none;
    margin: 0 $mobile-padding;
    border: 0.0625rem solid $cloud;

    @include tablet {
      display: inline;
      margin: 0 $tablet-padding;
      margin-left: 4rem;
    }
    @include tablet {
      margin-left: 7rem;
    }
    @include desktop {
      margin-left: 11rem;
    }
  }
  &__header {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    padding: $mobile-padding;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    @include tablet {
      padding: $tablet-padding;
      flex-direction: row;
      padding-bottom: 1.65rem;
      align-items: center;
    }
    &-container {
      width: 70%;
      display: flex;
    }
    &-name {
      @include page-header;
      padding-left: 0.5rem;
      @include tablet {
        margin-right: 5rem;
      }
    }
    &-edit {
      width: 2rem;
      height: 2rem;
      background-color: $blue;
      border-radius: 50%;
      text-align: center;
      margin-right: 0.3rem;
      margin-top: 0.2rem;
      @include tablet {
        display: none;
      }
      &-tablet {
        display: none;
        @include tablet {
          display: initial;
        }
      }
    }
  }

  &__divider1 {
    width: 100%;
    border: 0.0625rem solid $cloud;
  }

  &__divider2 {
    width: 100%;
    border: 0.0625rem solid $cloud;
    @include tablet {
      display: none;
    }
  }

  &__container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    @include tablet {
      flex-direction: row;
      padding: $tablet-padding;
      justify-content: space-between;
    }
    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include tablet {
        width: 60%;
      }
      @include desktop {
        width: 55%;
        margin-right: 2rem;
      }
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__sub-item-address {
    width: 100%;
    padding-bottom: 2rem;
    @include tablet {
      width: 30%;
      padding-bottom: 0;
    }
    @include desktop {
      width: 20%;
      padding-bottom: 0;
    }
  }

  &__sub-item {
    width: 100%;
  }

  &__label {
    @include table-header;
    color: $slate;
    padding-bottom: 0.2rem;
  }
  &__value {
    @include body-medium;
    position: relative;

    &--align-text {
      display: flex;
      text-align: center;
    }
  }

  &__label-container {
    display: none;

    @include tablet {
      @include table-header;
      display: flex;
      color: $slate;
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
      width: 100%;
      height: 2.5rem;
      background-color: $lightgray;
      align-items: center;
      gap: 1rem;
    }

    @include desktop {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__sort {
    height: 1rem;
  }

  &__label-warehouse {
    width: 22%;
    display: flex;
    align-items: center;
  }

  &__label-address {
    width: 18%;
    display: flex;
    align-items: center;

    @include desktop {
      width: 29%;
    }
  }

  &__label-name {
    width: 29%;
    display: flex;
    align-items: center;

    @include desktop {
      width: 18%;
    }
  }

  &__label-information {
    width: 12.5%;
    display: flex;
    align-items: center;

    @include desktop {
      width: 24%;
    }
  }

  &__label-action {
    width: 11.5%;
    display: flex;
    justify-content: flex-end;

    @include desktop {
      width: 7%;
      justify-content: space-between;
    }
  }
}
