// primary
$black: #13182C;
$blue:#2E66E5;
$white: #ffffff;

// secondary 
$slate: #5C667E;
$cloud: #e1e1e1;

// background 
$graphite: #232940;
$lightgray: #F7F8F9;

//supporting 
$red: #C94515;
$green: #158463;
