// primary
$black: #13182c;
$blue: #2e66e5;
$white: #ffffff;

// secondary
$slate: #5c667e;
$cloud: #e1e1e1;

// background
$graphite: #232940;
$lightgray: #f7f8f9;

//supporting
$red: #c94515;
$green: #158463;
