@use "../../styles/partials/_typography-mixins" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/_global" as *;
@use "../../styles/partials/_mixins" as *;

.search {
  @include body-medium;
  padding-bottom: 1rem;
  &__field {
    width: 100%;
    height: 2.25rem;
    border: 0.0625rem solid $cloud;
    border-radius: 1.25rem;
    padding-left: 0.625rem;
    background: transparent url("../../assets/images/search-24px.svg") no-repeat
      right;
    background-position-x: calc(100% - 0.625rem);
    @include tablet {
      width: 11.5625rem;
    }
    @include desktop {
      width: 17.125rem;
    }
  }
}
