@use "../../styles/partials/_global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/_breakpoints" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_colors" as *;

.search_and_add_button_header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: $mobile-padding;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  @include tablet {
    padding: $tablet-padding;
    flex-direction: row;
    padding-bottom: 0.7rem;
    align-items: center;
  }
  &__title {
    @include page-header;
    padding-bottom: 1rem;

    @include tablet {
      margin-right: 5rem;
    }
  }
  &__actions {
    @include tablet {
      gap: $mobile-padding;
      display: flex;
    }
  }
}