@import "../../styles/partials/mixins";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/variables";
@import "../../styles/partials/colors";

.header {
  background-color: $graphite;
  height: 12.5rem;
  font-size: 13px;
  line-height: 20px;

  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }

  &__center-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: $tablet-padding;
    }

    @include desktop {
      padding-left: $desktop-padding;
      padding-right: $desktop-padding;
    }

    @include desktop {
      max-width: $breakpoint-desktop;
      margin: 0 auto;
      padding: auto;

      max-width: 80rem;
    }
  }

  &__logo {
    display: flex;
    padding-top: 1rem;
    align-self: center;

    @include tablet {
      padding-top: 0;
      justify-content: flex-start;
    }
  }

  &__logo-image {
    margin: 0;
  }

  &__nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 0.5rem;

    @include tablet {
      padding-top: 0;
      justify-content: flex-start;
    }
  }

  &__nav-item {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;

    @include tablet {
      margin: 0 0.25rem;
    }

    @include desktop {
      margin-right: 0.75rem;
    }
  }

  &__nav-link {
    width: 40%;
    text-decoration: none;
    color: $cloud;
    flex: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @include tablet {
      padding: 0.5rem 1.1rem;
    }

    @include desktop {
      min-width: 4rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    background-color: $black;
    border-radius: 50px;

    .header__nav-link {
      color: $white;
    }
  }
}
