@use "../../styles/partials/colors" as *;
@use "../../styles/partials/_typography-mixins" as *;
@use "../../styles/partials/_global" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_variables" as *;

.add-warehouse {
    width: 100%;
    padding: $mobile-padding;
    padding-top: 1.5rem;
    @include tablet {
      padding: $tablet-padding;
      flex-direction: row;
    }
  
    &__header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center
     
    }
  
    &__header-name {
      @include page-header;
    //   margin-right: 15rem;
      padding-bottom: 1rem;
      @include tablet {
        margin-right: 5rem;
      }
      margin-left: 1rem;
    }

    &__divider {
        width: 100%;
        border: 0.0625rem solid $cloud;
      }

    &__details-container {
        // display: flex;
        // flex-direction: column;
        border-bottom: 1px;
        width: 100%;
        
    }

    &__details {
        width: 100%;
        display: flex;
        flex-direction: column;

        padding-bottom: 1rem;
        border-bottom: 1px solid;
        border-color: $cloud;

    }

    &__form-label{
        width: 100%;
    }

    &__form-input{
        width: 100%;
        height: 2rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
        border-width: 1px;
        border-radius: 20px;
        border-color: $cloud;

    }

    &__buttons-group{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        justify-content: space-around;
        
    }

    &__add-button{
        width: 7rem;
        color: white;
        border: none;
        background-color: $blue;
        border-radius: 20px;
    }

}