@use "../../styles/partials/_global" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_breakpoints" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_colors" as *;

.add-inventory__center-wrap {
    display: flex;
    background-color: $white;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(19, 24, 44, 0.1);
    width: 90%;
    position: relative;
    top: -3.375rem;
    margin: 0 auto;


    @include tablet {
      justify-content: space-between;
      top: -6.25rem;
    }

    @include desktop {
      margin: 0 auto;
      max-width: 63.5rem;
    }

}
