@use "../../styles/partials/_global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/_breakpoints" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_colors" as *;

.inventories-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-item {
    &:hover {
      @include tablet {
        background-color: rgba(46, 102, 229, 0.07);
      }
    }
  }

  &--mobile {
    // padding: $mobile-padding;
    @include tablet {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @include tablet {
      display: flex;
      padding: 0 1rem;
      margin: 0;
      @include body-medium;
      align-items: center;
      gap: 1rem;
    }
  }

  &__wrap-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__icon-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__sub-item {
    width: 100%;
    padding-bottom: $mobile-padding;
  }

  &__label {
    @include table-header;
    color: $slate;
  }
  &__value {
    @include body-medium;
    position: relative;

    &--align-text {
      display: flex;
      text-align: center;
      color: $blue;
      font-weight: 600;
    }
  }

  &__divider1 {
    width: 100%;
    border: 0.0625rem solid $cloud;
    // @include tablet {
    //   display: none;
  }

  &__value {
    @include body-medium;
    position: relative;

    &--align-text {
      display: flex;
      text-align: center;
      color: $blue;
      font-weight: 600;
    }
  }

  &__container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    &-1 {
      padding: 1rem;
    }
    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__sub-item {
    width: 100%;
    padding-bottom: $mobile-padding;
    @include body-small;
  }

  &__label {
    @include table-header;
    color: $slate;
    padding-bottom: 0.2rem;
  }

  &__wrap-section3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 0.2rem;
  }

  &__item {
    width: 22%;
    display: flex;
    align-items: center;
    color: $blue;
    @include labels-links-button;
    @include desktop {
      width: 20%;
    }
  }

  &__category {
    width: 18%;
    display: flex;
    align-items: center;

    @include desktop {
      width: 17%;
    }
  }

  &__status {
    width: 29%;
    display: flex;
    align-items: center;

    @include desktop {
      width: 27%;
    }
  }

  &__quantity {
    width: 12.5%;
    display: flex;
    align-items: center;

    @include desktop {
      width: 23%;
    }
  }

  &__action {
    width: 11.5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include desktop {
      width: 4%;
      justify-content: space-between;
    }

    &-1 {
      padding-left: 2rem;
      @include desktop {
        padding-left: 0;
      }
    }
  }
}
