@import "./styles/partials/typography";
@import "./styles/partials/_colors.scss";

*,
*::before,
*::after,
a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
main {
  background-color: $lightgray;
  padding-bottom: 1rem;
}
