@use "../../styles/partials/colors" as *;
@use "../../styles/partials/_typography-mixins" as *;
@use "../../styles/partials/_global" as *;
@use "../../styles/partials/_mixins" as *;

.edit-button {
  @include tablet {
    @include body-medium;
    width: 4.9rem;
    height: 2.35rem;
    background-color: $blue;
    border-radius: 1.2rem;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.circle-edit {
  @include tablet {
    width: 1.1rem;
    margin-right: 0.3rem;
  }
}
